{% extends "!layout.html" %}
  {% block footer %} {{ super() }}

 <style>

 	 /*Code block highlight color change*/
	 div.highlight{
		background : #eeffcc;
	 }
	 
	 .highlight .hll {
    	background-color: #FFFF66;
	}

	/*Logo, have to define in conf.py*/
	.wy-side-nav-search>a.icon img.logo {
		content: url("https://www.beefi.io/images/logo.png")
	}

	.logo {
		 width: 240px !important;
	}	

	/*Change version Menu text from "Read the Docs" to "Switch Version"*/
	span.fa.fa-book{
		visibility: hidden;
		position: relative;
	}

	span.fa.fa-book:after {
		visibility: visible;
		position: absolute;
		top: 1;
		left: 0;
		content: "Switch Version";
	}

	/*Change Top link in content area from "Docs" to "Home"*/	  
	.wy-breadcrumbs li:first-child a:first-child {
		 visibility: hidden;
		position: relative;
	}

	.wy-breadcrumbs li:first-child a:first-child:after {
		visibility: visible;
		position: absolute;
		top: 1;
		left: 0;
		content: "Home";
	}


	/* Under Sidebar */
	.wy-nav-side {
		background: #333333;
	}

	 /* Upper Sidebar color and text */
	.wy-side-nav-search{
		background: #e3e3e3 !important;
		color: #000000 !important;
	}

	.wy-side-nav-search input[type=text] {
		border-radius: 0px;
		border-color: #333333

	}

	/*Upper side bar version text*/
	.wy-side-nav-search>div.version {
		color: #000000 !important;
	}
	.version {
		color: #000000 !important;
	}

	/* remove under side bar blue caption "CONTENT:" */	  
	span.caption-text{
		display: none;
	}
	.wy-menu-vertical header, .wy-menu-vertical p.caption {
		height: 0px;
		width: 0px;
		display: none;
	}

	/* Expand content area */
	.wy-nav-content {
		max-width: 90%;
	}

	/*tables*/
	table {
		width : 95%  !important;
	}
	.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td, .wy-table th, .rst-content table.docutils th, .rst-content table.field-list th {
		font-size: 16px  !important;
	}

	.wy-table td p, .rst-content table.docutils td p, .rst-content table.field-list td p {
		line-height: 24px;
	}

   .wy-table-responsive table td, .wy-table-responsive table th {
		white-space: normal  !important;
	}

	.wy-table-responsive {
		overflow: visible !important;
	}

	/* Hovered background and text color change */	  		  
	.icon-home {
	  color: #333333 !important;
	}

	.icon-home:hover {
	  background-color: #d6d6d6 !important;
	}

	a:hover {
	  color: #bd2c2a !important;
	}


	/*From Espressif css*/

	/* For space between the return type and function name */
	a.internal + code.descname::before {
	  content: ' ';
	}

	/* For space between the arguments of the function */
	a.internal + em::before {
	  content: ' ';
	}

	.tool-sha256 {
	  word-break: break-all;
	}

     </style>
{% endblock %}